# Build output
/build/
/*.bin
/*.elf
/*.map

# ESP-IDF specific
sdkconfig
sdkconfig.old
.projectile
.config/
*.pyc
__pycache__/

# VSCode
.vscode/

# Mac/Linux/Windows system files
.DS_Store
Thumbs.db
